<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="d-flex align-items-center justify-content-between">
            <h1>Editing Product</h1>
            <%= link_to 'Show', @product, class: 'btn btn-sm btn-info' %>
        </div>

        <%= render 'form', product: @product %>
    </div>
</div>

